:root {
  --bg-color: #ffffff;
  --header-bg-color: #ede7ef;
  --contact-us-bg-color: #f8e4e4;
  --footer-bg-color: #451256;
  --btn-bg-color: #450e5a;

  --large-headers-color: #000000;
  --small-headers-color: #000000;
  --body-text-color: #565656
}